/* ==========================
   MOBILE
========================== */

@media (max-width:768px){

}

.hero{

    display:flex;
    justify-content:center;
    align-items:center;

}

.text{

    position:static;

    display:flex;
    flex-direction:column;

    align-items:center;

    width:100%;

}

.text h1{

    font-size:20vw;

    line-height:.9;

    letter-spacing:-0.05em;

    margin:0;

}

/* Remove all desktop offsets */

.no1,
.no2,
.nope,
.and,
.hell{

    margin-right:0;

}

.nope{

    margin-top:6vw;

}

.and{

    margin-top:4vw;
    margin-bottom:4vw;

}

}
